<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        body {
            background-image: url('/static/background.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>

<body>
    <div class="text-center">
        <img src="/static/logo.jpg" alt="Logo">
    </div>
    <div class="container" style="max-width: 600px;">
        <div class="jumbotron mt-3">
            <h1 class="display-5" style="color:darkslateblue; text-align:center;">Please login/signup to check your loan
                eligibility</h1>
            <hr class="my-4">
            <p class="lead d-flex justify-content-center">
                <a class="btn btn-primary btn-lg mr-2" href="/login" role="button">Login Now</a>
                <a class="btn btn-success btn-lg" href="/register" role="button">Register Now</a>
            </p>
        </div>
    </div>
</body>

</html>